@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .gradient-text {
    @apply mb-20 text-5xl font-bold text-transparent md:text-7xl font-aleo bg-clip-text bg-gradient-to-r from-text-gradient-start via-text-gradient-via to-text-gradient-stop;
  }
  .btn--primary {
    @apply py-4 px-8 font-medium text-white transition-all rounded-md bg-gradient-to-r via-text-gradient-via from-text-gradient-start to-text-gradient-stop bg-[length:500%] focus:ring-offset-2 focus:ring-offset-background-light focus:ring-blue-300 focus:ring-4 active:scale-[102%] focus:shadow-md focus:shadow-blue-200/10 cursor-pointer;
  }

  .btn--primary:hover,
  .btn--primary:focus {
    background-size: 200%;
  }

  .btn--primary:focus {
    outline: none;
  }
}

@layer utilities {
  .container {
    width: 92%;
    max-width: 1000px;
    margin: 0 auto;
  }

  .img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

:root.light {
  --background: #f5f5f5;
  --background-light: #e6e8eb;

  --accent: #192236;
  --accent-light: #374151;
  --accent-lighter: #637186;

  --text-gradient-start: #003cff;
  --text-gradient-via: #2081ff;
  --text-gradient-stop: #00baff;
}

:root.dark {
  --background: #111827;
  --background-light: #222c3a;

  --accent: hsl(0, 0%, 85%);
  --accent-light: #c5c2c2;
  --accent-lighter: #939daa;

  --text-gradient-start: #0073f7;
  --text-gradient-via: #51b1ff;
  --text-gradient-stop: #2ad4ff;
}

::selection {
  background: #ffa96249;
  color: white;
}

html,
body,
#__next {
  width: 100%;
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

#__next {
  display: flex;
  flex-direction: column;
}

section,
footer {
  padding: 4rem 0;
}

.link {
  --bg: rgb(0, 103, 221);
  --text: white;
  color: var(--bg);
  text-decoration: underline currentColor 2px;
  transition: 100ms ease;
}

.link:hover {
  text-decoration: none;
  background: var(--bg);
  color: var(--text);
}

html.dark .link {
  --bg: rgb(20, 158, 204);
}

img {
  user-select: none;
}
