@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
  background: #945bf170;
}

@layer components {
  .btn--primary {
    @apply p-3 px-5 font-medium text-white transition-all rounded-md bg-gradient-to-l from-blue-start to-blue-stop bg-[length:400%];
  }

  .btn--primary:focus {
    outline: none;
  }
}

@layer utilities {
  .container {
    width: 92%;
    max-width: 1000px;
    margin: 0 auto;
  }

  .img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  .gradient-text {
    @apply font-bold text-transparent bg-clip-text bg-gradient-to-l from-blue-start to-blue-stop dark:from-blue-start-dark dark:to-blue-stop-dark;
  }
}

html,
body,
#__next {
  width: 100%;
  height: 100%;
}
