@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .gradient-text {
    @apply font-bold text-transparent font-aleo bg-clip-text bg-gradient-to-r from-text-gradient-start via-text-gradient-via to-text-gradient-stop;
  }
  .btn--primary {
    @apply py-4 px-6 font-medium text-white transition-all rounded-md bg-gradient-to-r via-text-gradient-via from-text-gradient-start to-text-gradient-stop bg-[length:500%];
  }

  .btn--primary:hover,
  .btn--primary:focus {
    background-size: 200%;
  }

  .btn--primary:focus {
    outline: none;
  }
}

@layer utilities {
  .container {
    width: 92%;
    max-width: 1000px;
    margin: 0 auto;
  }

  .img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

:root.light {
  --background: #f5f5f5;
  --background-light: #e6e8eb;

  --accent: #111827;
  --accent-light: #374151;
  --accent-lighter: #637186;

  --text-gradient-start: #003cff;
  --text-gradient-via: #2081ff;
  --text-gradient-stop: #00baff;
}

:root.dark {
  --background: #111827;
  --background-light: #222c3a;

  --accent: white;
  --accent-light: #c5c2c2;
  --accent-lighter: #939daa;

  --text-gradient-start: #0073f7;
  --text-gradient-via: #51b1ff;
  --text-gradient-stop: #2ad4ff;
}

::selection {
  background: #945bf170;
}

html,
body,
#__next {
  width: 100%;
  height: 100%;
}

html {
  scroll-behavior: smooth;
}
